@font-face {
    font-family: 'Nunito';
    src: url(./fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: 'Noto Sans';
    src: url(./fonts/NotoSans-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

#section1{
    background: linear-gradient(111.23deg, #E9F7FF 9.95%, #FFDBD5 85.17%);
    height: 1156px;
    position: relative;
    overflow: hidden;
}
#circle{
    position: absolute;
}

#sec1_div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1206px;
    height: 81px;
}

.logo{
    margin-right: auto;
    margin-top: 73px;
}
.navigation{
    display: flex;
}

.nav_div1{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 91px;
    z-index: 1;
}

.nav_div1 > a{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #292930;
    position: relative;
}
.nav_div1 > a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #5956E8;
    transition: all .2s;
}
.nav_div1 > a:hover{
    cursor: pointer;
}
.nav_div1 > a::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #FFDC60;
    transition: all .2s;
}
.nav_div1 > a:hover::before{
    width: 100%;
    transition-delay: .1s;
}
.nav_div1 > a:hover::after{
    width: 50%;
}
.dropdn {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #292930;
}
.dropdn:hover{
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.login{
    margin-top: 92px;
    z-index: 1;
}
.login > a{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    margin-left: 58px;
    position: relative;
}
.login > a:hover{
    cursor: pointer;
}
.login > a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #5956E8;
    transition: all .2s;
}
.login > a::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #FFDC60;
    transition: all .2s;
}
.login > a:hover::before{
    width: 100%;
    transition-delay: .1s;
}
.login > a:hover::after{
    width: 50%;
}

#get_started{
    width: 173px;
    height: 64px;
    background: #292930;
    border-radius: 7px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 43px;
}
#get_started:hover{
    cursor: pointer;
}
#img1{
    position: absolute;
    left: 126px;
    top: 192px;
}

#agency{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #292930;
    margin-right: auto;
    width: 1206px;
}

#agency > span{
    color: #FEC90C;
    letter-spacing: 0.135em;
}
.texts > h3{
    width: 740px;
    height: 231px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 110.5%;
    color: #292930;
    margin-top: 28px;
    margin-bottom: 34px;
}
.texts > h3 > b{
    color:#5956E8;
}
#lorem{
    width: 593px;
    height: 56px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    color: #555555;
}

.buttons{
    width: 375px;
    position: relative;
    z-index: 1;
}
.buttons > button{
    width: 173px;
    height: 64px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    text-transform: capitalize;
    color: #292930;
}

#button1{
    margin-right: 20px;
    border: 1.5px solid #292930;
    border-radius: 7px;
    background-color: transparent;
}
#button2{
    border: 1.5px solid #292930;
    border-radius: 7px;
}
#button1:hover{
    background-color: #292930;
    color: #FFFFFF;
    cursor: pointer;
}
#button2:hover{
    background-color: #292930;
    color: #FFFFFF;
    cursor: pointer;
}

#section2{
    height: 1579px;
    background: #292930;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec2_div{
    width: 1200px;
    height: 1233px;
}

#services_nav{
    width: 1200px;
    height: 126px;
    display: flex;
}
.gear{
    width: 88px;
    height: 88px;
    border-radius: 100%;
    background-color: #5956E8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crc{
    position: absolute;
}

.serv > span{
    color: #FEC90C;
    letter-spacing: 0.135em;
}
.serv{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color:#D0D0D0;
    margin-top: 0px;
}

.info{
    width: 620px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110.5%;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 0px;
}

.serv_button{
    width: 174px;
    height: 62px;
    background: #FFFFFF;
    border-radius: 7px;
    border: none;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #292930;
}
.butn{
    margin-left: auto;
    margin-top: auto;
}

#first_three{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 90px;
}

.cont{
    width: 352px;
    height: 475px;
    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone{
    width: 153px;
    height: 153px;
    border-radius: 100%;
    background: #292930;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
    margin-top: 26px;
}
.p2{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    color: #D0D0D0;
    margin-top: 14px;
}

.readmore{
    width: 266px;
    height: 62px;
    border: 1px solid #535355;
    border-radius: 7px;
    background: transparent;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #525255;
}

.readmore:hover{
    width: 266px;
    height: 62px;
    background: #FFDC60;
    border-radius: 7px;
    border: none;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #292930;
    cursor: pointer;
}

.speaker{
    width: 153px;
    height: 153px;
    border-radius: 100%;
    background: #292930;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    width: 153px;
    height: 153px;
    border-radius: 100%;
    background: #292930;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second_three{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 90px;
}